page-modal {

}
.halfbutton{

    width: 45vw;
    display:inline-block;
}
#div-buttons{
    text-align: center;
}
.red-label{
  color: red !important;
}
.red-labels{
  color: red;
box-shadow:  10px 10px 5px red !important; }
